body{
    background-color: #000;

    color: #0e5;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0px;
    text-shadow: 0 0 5px #081;
    cursor: url('../assets/cursor.cur'), auto;  
    animation: flick 2s infinite;
}
body::before{
    content: "";
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#0e52, #000 110%);
    pointer-events: none;
}
::selection {
    background: #0e5;
    color: #000;
    text-shadow: none;  
}
main{
    width: 90%;
    height: 90%;
    padding: 30px;
}
body::after{
    content: "";
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(#0000, #0000 4px, #0005 4px, #0005 8px);
    pointer-events: none;
}
@keyframes flick{
    0%{
        opacity: 100%;
    }
    1%{
        opacity: 70%;
    }
    2%{
        opacity: 100%;
    }
    7%{
        opacity: 100%;
    }
    8%{opacity: 70%;}
    9%{
        opacity: 100%;
    }
    10%{
        opacity: 100%;
    }
    11%{opacity: 70%;}
    12%{
        opacity: 100%;
    }
    17%{
        opacity: 100%;
    }
    18%{opacity: 70%;}
    19%{
        opacity: 100%;
    }
    27%{
        opacity: 100%;
    }
    28%{opacity: 70%;}
    29%{
        opacity: 100%;
    }
    39%{
        opacity: 100%;
    }
    40%{opacity: 70%;}
    41%{
        opacity: 100%;
    }
    50%{
        opacity: 100%;
    }
    51%{opacity: 70%;}
    52%{
        opacity: 100%;
    }
    70%{
        opacity: 100%;
    }
    71%{opacity: 70%;}
    72%{
        opacity: 100%;
    }
    89%{
        opacity: 100%;
    }
    90%{opacity: 70%;}
    91%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}
