body{
    background-color: #000;
    background-image: radial-gradient(#0e52, #000 110%);
    color: #0e5;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0px;

    text-shadow: 0 0 5px #081;
    cursor: url('../Assets/cursor.cur'), auto;
}
::selection {
    background: #0e5;
    color: #000;
    text-shadow: none;  
}
main{
    width: 90%;
    height: 90%;
    padding: 30px;
}
body::after{
    content: "";
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(#0000, #0000 4px, #0005 4px, #0005 8px);
    pointer-events: none;
}

